---
# Settings based on Linux Kernel recommendations
BasedOnStyle: LLVM
IndentWidth: 8
AccessModifierOffset: -8
UseTab: ForIndentation
# ------------------------------------------------------------------------------
IndentCaseLabels: false
IndentPPDirectives: AfterHash
# ------------------------------------------------------------------------------
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true 
AlignConsecutiveMacros: true
# ------------------------------------------------------------------------------
AllowShortIfStatementsOnASingleLine: false
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: Empty
# ------------------------------------------------------------------------------
BreakConstructorInitializers: BeforeColon
BreakBeforeBraces: Custom
BraceWrapping:
   AfterFunction: true
   BeforeElse: true










